Project Proposal

Title:

Introduction:

Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project
Identify and describe the dataset that will be used to answer the question

Preliminary exploratory data analysis:

Demonstrate that the dataset can be read from the web into R 
Clean and wrangle your data into a tidy format
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

Methods:

Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
Describe at least one way that you will visualize the results

Expected outcomes and significance:

What do you expect to find?
What impact could such findings have?
What future questions could this lead to?

In [3]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [5]:
attrition_data <- read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
attrition_data

Rows: 1470 Columns: 35
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (9): Attrition, BusinessTravel, Department, EducationField, Gender, Job...
dbl (26): Age, DailyRate, DistanceFromHome, Education, EmployeeCount, Employ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     Age Attrition BusinessTravel    DailyRate Department
1    41  Yes       Travel_Rarely     1102      Sales
2    49  No        Travel_Frequently  279      Research & Development
3    37  Yes       Travel_Rarely     1373      Research & Development
⋮    ⋮   ⋮         ⋮                 ⋮         ⋮
1468 27  No        Travel_Rarely      155      Research & Development
1469 49  No        Travel_Frequently 1023      Sales
1470 34  No        Travel_Rarely      628      Research & Development
     DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1    1                2         Life Sciences  1             1              ⋯
2    8                1         Life Sciences  1             2              ⋯
3    2                2         Other          1             4              ⋯
⋮    ⋮                ⋮         ⋮              ⋮             ⋮              ⋱
1468 4                3         Life Sciences  1             2064           ⋯
1469 2                3         Medical        1             2065           ⋯
1470 8                3         Medical        1             2068           ⋯
     RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1    1                        80            0                 8
2    4                        80            1                10
3    2                        80            0                 7
⋮    ⋮                        ⋮             ⋮                ⋮
1468 2                        80            1                 6
1469 4                        80            0                17
1470 1                        80            0                 6
     TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1    0                     1                6             4
2    3                     3               10             7
3    3                     3                0             0
⋮    ⋮                     ⋮               ⋮              ⋮
1468 0                     3               6              2
1469 3                     2               9              6
1470 3                     4               4              3
     YearsSinceLastPromotion YearsWithCurrManager
1    0                       5
2    1                       7
3    0                       0
⋮    ⋮                       ⋮
1468 0                       3
1469 0                       8
1470 1                       2